<%- include("partials/header") %>

<h1>Welcome to the landing page. We are so delighted to have you all onboard with us!!</h1>
<a href="campgrounds"/>Go visit the camps</a><br/>
<%- include("partials/footer") %>